<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848103989660-beaobrk6job7rfibovauehiol49gj0p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848103989660-beaobrk6job7rfibovauehiol49gj0p3</string>
	<key>API_KEY</key>
	<string>AIzaSyCu6D9kFbBzlw7EPwnkDsNaa6S4R0T3KFY</string>
	<key>GCM_SENDER_ID</key>
	<string>848103989660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.progettoCamilloniTiseniGiri</string>
	<key>PROJECT_ID</key>
	<string>progettoprogrammazionemobile</string>
	<key>STORAGE_BUCKET</key>
	<string>progettoprogrammazionemobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848103989660:ios:20dfa414e77d3cbface859</string>
	<key>DATABASE_URL</key>
	<string>https://progettoprogrammazionemobile-default-rtdb.firebaseio.com</string>
</dict>
</plist>